<div class="view">
    <div class="form">
        <h2>Create Account</h2>

        <input type="text" class="form-input" placeholder="Name"
        ng-model="name">

        <input type="text" class="form-input" placeholder="Surname"
        ng-model="surname">

        <input type="text" class="form-input" placeholder="Password"
        ng-model="password">

        <input type="text" class="form-input" placeholder="Confirm Password"
        ng-model="confirmPassword">
        
        <input type="text" class="form-input" placeholder="City"
        ng-model="city">

        <input type="text" class="form-input" placeholder="Mobile"
        ng-model="mobile">

        <a ng-click="create()" class="button_update">Submit</a>
    </div>
</div>