<div class="view">
    <div class="form">
        <h2>Create Account</h2>

        <input type="text" class="form-input" placeholder="First Name"
        ng-model="firstName">

        <input type="text" class="form-input" placeholder="Last Name"
        ng-model="lastName">

        <input type="text" class="form-input" placeholder="Date of Birth"
        ng-model="dateOfBirth">

        <input type="text" class="form-input" placeholder="Date of Death"
        ng-model="dateOfDeath">
        
        <a ng-click="create()" class="button_update">Submit</a>
    </div>
</div>