<div class="view">
        <div class="form">
            <h2>Edit Account</h2>
            

            <input type="text" class="form-input" placeholder="Name"
            ng-model="">

            <input type="text" class="form-input" placeholder="Surname"
            ng-model="">

            <input type="text" class="form-input" placeholder="Password"
            ng-model="">
                
            <input type="text" class="form-input" placeholder="Confirm Password"
            ng-model="">

            <input type="text" class="form-input" placeholder="City"
            ng-model="">

            <input type="text" class="form-input" placeholder="Mobile"
            ng-model="">

            <input type="text" class="form-input" placeholder="Description"
            ng-model="">
            
            <a ng-click="create()" class="button_update">Submit</a>
            </div>
        </div>
    </div>