<div class="view">
    <input id="search" type="text" placeholder="Search"/>

    <div ng-repeat="account in accounts">
        <div class="item">
            <div class="expandcollapse-item">
                <div ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed':active, 'expandcollapse-heading-expanded':!active}">
                    <p>{{account.firstname}} {{account.lastname}}</p>
                </div>

                <div class="slideDown" ng-hide="active">
                    <div class="expand-collapse-content">
                        <a href="#!authors/update" class="button_update">Update</a>
                        <a href="#!authors/reset" class="button_reset">Reset password</a>
                        <a href="#!authors/delete" class="button_delete">Delete Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>