<div class="view">
    <input id="search" type="text" placeholder="Search"/>
    <div id="list" ng-repeat="account in accounts">
        <div class="item">
            <div class="expandcollapse-item">
                <div ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed':active, 'expandcollapse-heading-expanded':!active}">
                    <p class="no-select">{{account.firstname}} {{account.lastname}}</p>
                </div>

                <div class="slideDown" ng-hide="active">
                    <div class="expand-collapse-content">
                        <div class="email-list">
                            <ul ng-repeat="email in emails">
                                <li>{{email}}</li>
                            </ul>
                        </div>
                        <div class="buttons">
                            <a href="#!list/edit" class="button_update" ng-click="edit($index)">Edit Account</a>
                            <a href="#!list/reset-password" class="button_update">Reset password</a>
                            <a href="#!list/delete" class="button_delete">Delete Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="logoutModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close"></span>
            <div class="modal-body">
                <p>Are you sure you want to logout ?</p>
                <a href="#!list/edit" class="button_update" ng-click="edit($index)"></a>
            </div>
        </div>
    </div>

</div>