<div class="view">
    <form class="form">
        <h2>Reset Password</h2>
        
        <input type="text" class="form-input-disabled"
        ng-model="login" disabled>

        <input type="password" ng-class="{true: 'form-input', false: 'form-input-error'}[password == confirmPassword]" 
        placeholder="Password"
        ng-model="password">
    
        <input type="password" ng-class="{true: 'form-input', false: 'form-input-error'}[password == confirmPassword]" 
        placeholder="Confirm Password"
        ng-model="confirmPassword">

        <p ng-if="password != confirmPassword" class="error-message">{{passwordErrorMessage}}</p>

        <a ng-click="resetPassword()" class="button_update" type='submit'>Submit</a>
        </div>
    </form>
</div>