<div id="side" class="no-select">
    <a class="section" href="#!list">
        <i class="icon-list-bullet"></i>
        List</a>
    <a class="section" href="#!create">
        <i class="icon-user"></i>
        Create</a>
    <a class="section" href="#!edit">
        <i class="icon-pencil"></i>
        Edit</a>
    <a class="section" href="#!delete">
        <i class="icon-trash"></i>
        Delete</a>
    <a class="section" href="#!export">
        <i class="icon-export-1"></i>
        Export</a>
    <a id="logout" ng-click="open()">
        <i class="icon-logout"></i>
        Logout</a>
</div>