<div id="side" class="no-select">
    <a class="section" href="#!list">
        <i class="icon-list"></i>
        List</a>
    <a class="section" href="#!create">
        <i class="icon-user"></i>
        Create</a>
    <a class="section" href="#!export">
        <i class="icon-export"></i>
        Export</a>
    <a id="logout" ng-click="open()">
        <i class="icon-logout"></i>
        Logout</a>

        <div class="modal" id="logoutModal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure you want to logout ?</p>
                    <a href="#!list/edit" class="button_update"></a>
                </div>
            </div>
        </div>


</div>