.form h2 {
    margin: 42px 0 75px 50px;
}

.form input[type=text], .form input[type=password] {
    margin: 40px auto 0 auto;
    display: block;
    width: 45%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    padding: 12px 25px 12px 25px;
}

.form .form-input-disabled[type=text] {
    background-color: #ccc;
}

.form .form-input-error[type=password] {
    border: 2px solid rgb(173, 0, 0);
}

.form .button_update {
    margin: 40px auto 35px auto;
    padding: 10px 0 10px 0;
    display: block;
    width: 45%;
}

.form .button-add-mail-field {
    margin: 20px auto 35px auto;
    width: 20%;
}

.form #account-type-choice {
    top: 25px;
    right: 25px;
    position: fixed;
}

@media only screen and (max-width: 790px) {
    .form #account-type-choice {
        right: 1px;
    }
}

.form .button-account-type-choice {
    margin: 10px auto 10px auto;
    width: 150px;
}

.form .error-message {
    text-align: center;
    font-size: 11px;
    color: red;
}

/*deleting accounts*/
.form #delete {
    text-align: center;
}

.form #delete .button_update {
    width: 70px;
    display: inline-block;
}