body {
    background-color: aliceblue;
}

/*ul {
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #272c30;
    list-style-type: none;
}

li {
    float: left;
}

a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}*/

#side {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(205, 231, 253);
    overflow-x: hidden;
    padding-top: 15px;
    font-family: 'Krub', sans-serif;
    font-weight: 600;
}

#side .section {
    padding: 20px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #686868;
    display: block;
}

#side #logout {
    padding: 20px 8px 6px 16px;
    position: fixed;
    bottom: 20px;
    text-decoration: none;
    font-size: 16px;
    color: #686868;
    display: block;
}

#side .section:hover, #side #logout:hover {
    color: #141414;
}

.view {
    margin: 30px auto 0 auto;
}

#search {
    margin: auto;
    border: 2px solid #4eb5f1;
    border-radius: 40px;
    height: 35px;
    padding: 0 11px;
    font-size: 14px;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: darkgray;
    background-color: transparent;
}

#search:focus {
    outline: none;
}