/* $Id: planks.css 4322 2006-09-04 08:49:33Z shacka $ */
@import url("layout/basic.css");

/* top menu has outside border */
.zpMenuPlanks .zpMenuContainer {
	border: 1px solid #000000;
}

/* Top menu background color */
.zpMenuPlanks .zpMenu-level-1 {
	background: RGB(204,204,204);
}

/* vertical menu has width based on widest element */
.zpMenuPlanks .zpMenu-vertical-mode .zpMenu-level-1 {
	padding-right:3px;
	border: 1px solid black;
	background: RGB(204,204,204);
}


/* sub-menu has NO border */
.zpMenuPlanks .zpMenuContainer .zpMenuContainer {
	border: none;
}

/* General items that's not a top menu */
.zpMenuPlanks .zpMenuContainer .zpMenuContainer .zpMenu-item {
	margin-top:0px;
	background-position:top;
	width: 170px;
	height: 20px;
	background: url("planks/meniu1.gif") no-repeat 0 0;
}


/* Current selected items in top horizontal menu*/
.zpMenuPlanks .zpMenu .zpMenu-item-selected {
	background: RGB(153,255,153);    
}

/* Current selected items in vertical menu*/
.zpMenuPlanks .zpMenuContainer .zpMenuContainer .zpMenu-item-selected {
	margin-top:0px;
	background-position:top left;
	background: url("planks/meniu2.gif") no-repeat 0 0;
}

/* The arrow that shows up when there's a sub-menu */
.zpMenuPlanks .zpMenuContainer .zpMenuContainer .zpMenu-item-expanded .zpMenu-label,
.zpMenuPlanks .zpMenuContainer .zpMenuContainer .zpMenu-item-collapsed .zpMenu-label {
	background: url("icon/arrow_right_black.gif")  no-repeat right center;
}
/* Override previously defined background defined in this css for HR */
.zpMenuPlanks .zpMenuContainer .zpMenuContainer .zpMenu-item-hr {
	border:none;
}
